<div class="header">
  <h1 class="page-header">
    {{isUpdate ? "Update Employee Details": "Add New Employee"}}
  </h1>
</div>
<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
      <!-- Advanced Tables -->
      <div class="card">
        <div class="card-content">
            <form (ngSubmit)="onSubmit()" ngNativeValidate>
              <div>
                <h2 class="h2form">Change Your Password</h2>
                <div class="alert alert-danger" role="alert" *ngIf="msg">
                  Error : {{msg}}
                </div>
                <div class="form-row">
                  <div class="col">
                    <label for="name">New Password</label>
                    <input type="password" class="form-control" id="login_password" required
                       name="login_password">
                  </div>
    
                  <div class="col">
                    <label for="name">Confirm Password</label>
                    <input type="password" class="form-control" id="employee_confirm_password" required
                    name="employee_confirm_password">
                  </div>
                </div>
              </div>
             
            <div style="text-align: right; margin-top: 25px;">
              <button type="submit" class="btn btn-success" style="width: 150px;">Change Password</button>&nbsp;&nbsp;
              <button type="reset" class="btn btn-danger" style="width: 150px;">Reset</button>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>